<p id="notice"><%= notice %></p>

<p>
  <b>Day:</b>
  <%= @issue.day %>
</p>

<p>
  <b>Name:</b>
  <%= @issue.name %>
</p>

<p>
  <b>Email:</b>
  <%= @issue.email %>
</p>

<p>
  <b>Number:</b>
  <%= @issue.number %>
</p>


<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
