<%= form_for(@repair) do |f| %>
  <% if @repair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repair.errors.count, "error") %> prohibited this repair from being saved:</h2>

      <ul>
      <% @repair.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Date" %><br />
    <%= f.date_select :day %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label "On Campus?" %><br />
    <%= f.check_box :oncampus %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label "Device Type" %><br />
    <%= f.radio_button(:device, :desktop) %>
    <%= f.label(:device_desktop, "Desktop") %>
    <%= f.radio_button(:device, :laptop) %>
    <%= f.label(:device_laptop, "Laptop") %>
    <%= f.radio_button(:device, :mobile) %>
    <%= f.label(:device_mobile, "Mobile") %>
    <%= f.radio_button(:device, :ipad) %>
    <%= f.label(:device_ipad, "iPad/eReader") %>
    <%= f.radio_button(:device, :other) %>
    <%= f.label(:device_other, "Other") %>
  </div>
  <div class="field">
    <%= f.label "Operating System" %><br />
    <%= f.collection_select(:opsystem, [:windows, :mac, :android, :ios, :blackberry, :other], :to_s, :to_s) %>
  </div>
  <div class="field">
    <%= f.label :issue %><br />
    <%= f.text_area :issue %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
