<title>FixIT Philadelphia</title>

<div style="background-color: #00FFFF">

<div class="contain-to-grid">
 <div class="fixed">
  <nav class="top-bar">
    <ul>
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="#">
            FixIT Philadelphia
          </a>
        </h1>
      </li>
      <li class="toggle-topbar"><a href="#"></a></li>
    </ul>
 
    <section>
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Services</a>
          <ul class="dropdown">
            <li><label>Section Name</label></li>
            <li class="has-dropdown">
              <a href="#" class="">Has Dropdown, Level 1</a>
              <ul class="dropdown">
                <li><a href="#">Dropdown Options</a></li>
                <li><a href="#">Dropdown Options</a></li>
                <li><a href="#">Level 2</a></li>
                <li><a href="#">Subdropdown Option</a></li>
                <li><a href="#">Subdropdown Option</a></li>
                <li><a href="#">Subdropdown Option</a></li>
              </ul>
            </li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><label>Section Name</label></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="#">See all &rarr;</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li><a href="#">Rates</a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">People</a>
          <ul class="dropdown">
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li><a href="#">Dropdown Option</a></li>
            <li class="divider"></li>
            <li><a href="#">See all &rarr;</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
  </div>
  </div>

<br><br><br>

<div class="row">
    <div class="twelve columns">
      <h2>Welcome to FixIT Philadelphia</h2>
      <p><i><strong>If it ain't broke, don't fix it. But if it is, we'll be happy to help!</strong></i></p>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="eight columns">\
      <div class="row">
        <div class="twelve columns">
          
      
<h1>Listing repairs</h1>

<table>
  <tr>
    <th>Day</th>
    <th>Name</th>
    <th>Email</th>
    <th>Number</th>
    <th>Oncampus</th>
    <th>Location</th>
    <th>Device</th>
    <th>Opsystem</th>
    <th>Issue</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @repairs.each do |repair| %>
  <tr>
    <td><%= repair.day %></td>
    <td><%= repair.name %></td>
    <td><%= repair.email %></td>
    <td><%= repair.number %></td>
    <td><%= repair.oncampus %></td>
    <td><%= repair.location %></td>
    <td><%= repair.device %></td>
    <td><%= repair.opsystem %></td>
    <td><%= repair.issue %></td>
    <td><%= link_to 'Show', repair %></td>
    <td><%= link_to 'Edit', edit_repair_path(repair) %></td>
    <td><%= link_to 'Destroy', repair, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Repair', new_repair_path %>

<%= link_to 'Post', 'posts#index' %>
    </div>
    </div>
	</div>
    </div>
<br><br><br><br>
<div align="center"><strong>© 2013 Mehdi Charfi. All rights reserved.</strong></center></div><br><br>
</div>
