<!DOCTYPE html>
<html>
<head>
  <title>MehdiApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <link rel="stylesheet" href="stylesheets/foundation.min.css">
  <link rel="stylesheet" href="stylesheets/app.css">
  
</head>
<body>

<% if alert %>
<div class="alert alert-error">
<%= alert %>
</div>
<% end %>
<% if notice %>
<div class="alert alert-success">
<%= notice %>
</div>
<% end %>

<%= yield %>

<div align="center">
	<% if user_signed_in? %>
	<li><%= link_to 'Logout',
	destroy_user_session_path,
	method: :delete %></li>
<% end %>
</div>

</body>
</html>
